#completed-project-page-wrapper {
    margin-bottom: 3rem;
}
#completed-project-page-wrapper h2 {
    margin-bottom: 1rem;
}
#completed-project-page-wrapper .images-row {
    margin-bottom: 2rem;
}
.completed-project-image-wrapper img {
    width: 100%;
}
.completed-project-image-caption {
margin-top: 1rem;
}



@media screen and (max-width: 991px) {
    .hide-complete-project-image {
        display: none;
    }
  }