.main-footer {
    flex: bottom;
    color: azure;
    background-color: #303030e6;
    margin-top: 10rem;
    padding: 2em;
    position: relative;
    bottom: 0;
    border-top: 1px solid #ff00ff;
    text-decoration: none;
}

.main-footer h4,
.main-footer p {
    color: #F8F8FF;
}

.hr {
    border: 1px solid #F8F8FF;
  }

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

  @media only screen and (max-width: 400px) {
    .colon {
        display: none;
    }
  }