@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  margin: 0;
  font-family: 'Marcellus', serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.page {
  min-height: 100vh;
}

a {
  color: #0000ee;
}

figcaption {
  padding: 10px 0px 20px 0px;
}

#pSizeUp {
  font-size: 1.2em;
}

/* .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
} */